[Unit]
Description=Listen for DNS Notify. AXFR, translate, and upload zone to Route53
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=/usr/bin/python3 /opt/dnsnotify2route53/start.py --daemon
Environment=

[Install]
WantedBy=multi-user.target
